<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="ui-inputgroup row">
            <div>
                <input type="text" formControlName="name" size="30" pInputText placeholder="Name">
            </div> 
            <span *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                <span class="mandatory" *ngIf="name?.errors?.required">Name is required.</span>
            </span>
        </div>
        <div class="ui-inputgroup row">
            <div>
                <input type="text" formControlName="contactNumber" size="30" pInputText placeholder="Contact Number">
            </div> 
            <span *ngIf="contactNumber?.invalid && (contactNumber?.dirty || contactNumber?.touched)" class="alert alert-danger">
                <span class="mandatory" *ngIf="contactNumber?.errors?.required">Contact Number is required.</span>
            </span>
        </div>
        <div class="ui-inputgroup row">
            <div>
                <input type="text" formControlName="email" size="30" pInputText placeholder="Email">
            </div> 
            <span *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                <span class="mandatory" *ngIf="email?.errors?.required">Email is required.</span>
            </span>
        </div>
        <div class="ui-inputgroup row">
            <div>
                <input type="text" formControlName="type" size="30" pInputText placeholder="Type">
            </div> 
            <span *ngIf="type?.invalid && (type?.dirty || type?.touched)" class="alert alert-danger">
                <span class="mandatory" *ngIf="type?.errors?.required">Type is required.</span>
            </span>
        </div>
        <div class="ui-inputgroup button">
            <button pButton class="ui-button-add" label="Save"></button> 
        </div>
    </form>
</div>