<div style="background: #e0e6f0;">
    <img alt="My image name" src="./assets/citytrade1.jpg" height="75px;" style="vertical-align: middle;">
    <span style="font-size: xx-large;font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        CITY TRADE ADMIN PORTAL
    </span>
</div>
<div>
    <ul>
        <!-- <li><a routerLink="admin-menu/home"><i class="pi pi-home"></i></a></li> -->
        <li><a routerLink="admin-menu/home">ADMINISTRATION</a></li>
        <li><a routerLink="vendor-menu/home">VENDOR MENU</a></li>
        <li style="float:right"><a class="logout" href="#about"><i class="pi pi-power-off"></i></a></li>
      </ul>
</div>
<router-outlet></router-outlet>